.user-display{
	padding: 0;
}

.user-display li{
	list-style-type: none;
	margin: 5px 0;
	float: left;
	clear: both;
	transition: all 1s ease-in-out;
}

.user-display li.animateOff{
	transform: translate(-1000px, 0px);
}

.user-display .user-display-item .selectedUser > a{
	color: #f93;
}

.user-display a:hover{
	text-decoration: none;
}

.user-display a label{
	cursor: pointer;
	border: 2px solid transparent;
	padding: 5px;
}

.user-display a label:hover{
	border: 2px solid #dfdfdf;
	transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
}

.user-display img{
	max-height: 44px;
	max-width: 44px;
}

.user-display .control-group{
	display: none;
}

.user-display .selectedUser .control-group{
	display: block;
}

.user-display .close{
	float: left;
}